/* line 2, ../../origin/scss/style.scss */
.wavesurfer {
  height: 90px;
  margin-bottom: 10px;
  display: block !important;
}
/* line 7, ../../origin/scss/style.scss */
.wavesurfer:empty {
  background-color: #f6d285;
}

/* line 11, ../../origin/scss/style.scss */
.audio-track {
  background-color: #4bc1d2;
  padding: 10px 10px 5px;
}

/* line 16, ../../origin/scss/style.scss */
.audio-title {
  margin-top: 11px;
  color: #fff;
}

/* line 21, ../../origin/scss/style.scss */
.timeline {
  background-color: #215a62;
  height: 13px;
}
/* line 25, ../../origin/scss/style.scss */
.timeline .playhead {
  background-color: #29f4f6;
  width: 17px;
  height: 17px;
  top: -2px;
  border-radius: 3px;
}
/* line 32, ../../origin/scss/style.scss */
.timeline .progress-line {
  left: 0;
  top: 0;
  display: block !important;
  background-color: #e5a213;
  height: 13px;
}

/* line 42, ../../origin/scss/style.scss */
.audio-buttons span {
  font-size: 30px;
  color: #127886;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 48, ../../origin/scss/style.scss */
.audio-buttons span:hover {
  color: #0d5862;
}
/* line 53, ../../origin/scss/style.scss */
.audio-buttons span.fastbackward-btn,
.audio-buttons span.fastforward-btn {
  font-size: 20px;
  top: -3px;
}
/* line 58, ../../origin/scss/style.scss */
.audio-buttons span.play-btn,
.audio-buttons span.plause-btn {
  width: 26px;
}
